.btn-fullscreen {
  cursor: pointer;
  position: absolute;
  z-index: 101;
  top: 0px;
  right: 0px;
  background-color: #e8e8e8;
  border-radius: 5px;
  margin-left: 5px;
  padding: 6px;
  opacity: 0.5;
  text-transform: uppercase;
}

.btn-fullscreen:hover {
  transition: 0.4s;
  opacity: 1;
}